# 데이터 타입

## > 숫자형
- 종류
    - 정수 : 0, 양수, 음수인 숫자
    - 실수 : 소숫점을 포함하는 숫자
    - 8진수(0o 또는 00(대문자o) 으로 시작) : 0o34, 0o25
    - 16진수(0x로시작) : 0x2A, 0xFF
    - 2진수(0b로 시작) : 0b10, 0b11

### 정수형

In [1]:
# 양수, 음수, 0
a = 10
b = -20
c = 0

In [2]:
# 출력 : print(자료)
print(a)

10

In [3]:
# 따옴표로 싸여 있는 a는 "a" 라는 문자로 출력
print("a")

a

In [4]:
print("Hello world")

Hello world

In [5]:
# 정수 타입 : 타입(데이터종류)를 확인하는 내장함수 type()
type(a)

int

In [6]:
type(b)

int

In [7]:
type(c)

int

### 실수형

In [9]:
# 양의 실수, 음의 실수 : float
a = 1.3
b = -2.4
c = 0.0

In [10]:
# 실수 타입을 확인해주세요.
type(a)

float

In [11]:
type(b)

float

In [12]:
type(c)

float

In [13]:
# 0 vs 0.0
print(type(0), type(0.0))

<class 'int'> <class 'float'>

In [ ]:
# 정수와 실수가 다른 숫자로 인식되는 이유는
# 2의보수방식, 실수 이진수 표현 2개 키워드로 검색하면 확인할 수 있습니다.

## > 연산자

- 산술 : +, -, *, /, //(몫), %(나머지)
- 비교 : ==(값이 같은지), !=(값이 다른지), <=, >=, <, >
- 논리 : and, or
- 할당 : =, +=(누적합), -=(누적차), *=(누적곱), /=(몫만 남기기), %=(나머지만 남기기)

### 1) 산술연산자 : 숫자를 계산하기 위한 문법 기호

In [19]:
# 더하기 : +
# 정수 + 정수 => 정수로 출력
10 + 3
# 실수 + 실수 => 실수로 출력
13.3 + 2.4
# 정수 + 실수 => 실수로 출력
10 + 3.4

13.4

In [22]:
# 빼기 : -
# 주피터노트북은 print() 구문을 쓰지 않을 시 가장 마지막 줄의 결과만 화면에 보여줍니다.
# 만약 모든 줄의 결과를 화면에 보여주고 싶다면 매 구문마다 print() 구문을 써줘야 합니다.
print(10 - 3)
print(3 - 7.7)

7
-4.7

In [24]:
# 나누기 : /
# 파이썬만 정수 나누기 정수도 실수로 출력합니다.
# 자바, cpp 등의 대다수 언어는 정수/정수는 무조건 정수로 나옵니다.
3 / 3
7 / 2

3.5

In [28]:
# 곱하기 : *
3 * 4
-3 * 5
# 파이썬에서도 사칙연산의 우선순위를 ()로 조절할 수 있습니다.
(3 - 4) * 5

-5

In [32]:
# 정수 몫 반환 : //
# 나눗셈의 결과값보다 작은 정수중에 가장 큰 정수
-5 // 4

-2

In [33]:
# 양수는 그냥 생각한대로 몫이 나옴
4 // 3

1

In [35]:
# 정수 몫을 구하고 남은 나머지만 반환 : %
6 % 4

2

In [43]:
# 지수 : **
2 ** 3
# 제곱근, 세제곱근 등도 계산 가능
2 ** 0.5

1.4142135623730951

### 2) 비교연산자 : 자료를 비교하기 위한 문법 기호
    - 결과가 숫자가 아니라 bool type의 결과를 가진다
    
> ##### bool type
    - True : 0이 아닌 숫자, 참인 조건식 등
    - False : 0, 거짓인 조건식 등

- 값에 대한 비교 : ==, !=
- 크기에 대한 비교 : >, <, >=, <=

In [48]:
# 두 값이 같은지 비교 : ==
1 == 1.0
# 자료끼리는 같다고 나오지면 자료형(자료타입)으로 비교시 다릅니다
type(1) == type(1.0)

False

In [50]:
# 두 값이 다른지 비교 : !=
# 두 값이 다르면 True, 같으면 False
0 != 0.0
type(0) != type(0.0)

True

In [52]:
# 두 값의 크기를 비교 : >=, <=, <, >
2 >= 3

False

##### 3) 논리연산자
- 여러 개의 조건식을 활용하기 위한 명령어
- bool type 결과 반환 : True, False

In [55]:
# and 연산자 : 조건식1 and 조건식2
# 조건식1과 조건식2가 모두 True면 최종결과는 True
# 둘 중 하나만 False여도 최종결과는 False
# 둘 다 False이면 최종결과는 False
10 < 12 or 0 > 3

True

In [60]:
# bool(자료) 는 해당 자료의 참, 거짓을 판단해준다.
# 단독 숫자 등도 판단이 가능하고, 0만 아니면 이외 모든 숫자는 True
bool(-50)

True

##### 4) 할당연산자

- 변수 할당
- 누적 연산

In [61]:
# 변수명(왼쪽)에 변수값(오른쪽)을 할당/선언/저장 : =
# x에 10을 대입해주세요.
x = 10

In [64]:
# 숫자형의 누적 합계 +=
# result라는 변수에 누적합을 저장하기
result = 0
# result에 x만큼 더해서 저장하기 위해 원래 사용하던 코드
result = result + x

In [66]:
# result를 한 번 만 쓰고도 x만큼 더해서 저장까지 하는 코드
result += x

In [67]:
result

20

In [68]:
# 숫자형의 누적 차
result -= 1
result

19

In [69]:
# 누적 곱 
# result를 2배로 곱해서 저장해주세요.
result *= 2
result

38

### 1. 홍길동의 시험 성적 평균을 구하세요
        |   영어 80점    |    국어 72점    |    수학 90점    |    사회 66점    |
        
* 변수를 사용해서 과목의 평균을 구해보세요.
* 출력 양식 : <br>
총합 308 <br>
평균 77

In [70]:
eng = 80
kor = 72
math = 90
social = 66

In [71]:
# 총합 구해서 total 변수에 저장하기
total = eng + kor + math + social

In [72]:
# 평균 구해서 avg 변수에 저장하기
avg = total / 4

In [76]:
# print문을 이용해 총합과 평균 출력하기.
print("총합", total)
print("평균", avg)

총합 308
평균 77.0