# "[ML] DS환경 익숙해지기"
> "COLAB환경과 주피터 노트북 환경"

- toc: true
- branch: master
- badges: true
- comments: true
- categories: [jupyter, colab]
- author: 도형준

# DS 환경 익숙해지기

## Colab에 익숙해지기

In [1]:
# 리눅스 기반의 경우, !를 사용해 명령어 사용 가능
!python --version

Python 3.9.12

In [2]:
!pip install yfinance --quiet # --quiet를 통해, 불필요한 정보 제거

Usage:
  pip install [options] <requirement specifier> [package-index-options] ...
  pip install [options] -r <requirements file> [package-index-options] ...
  pip install [options] [-e] <vcs project url> ...
  pip install [options] [-e] <local project path> ...
  pip install [options] <archive url/path> ...

no such option: --quiet를

In [3]:
import yfinance as yf

history = yf.Ticker('AAPL').history()
history.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-10-31 00:00:00-04:00,152.906350,153.984563,151.668398,153.086044,97943200,0.00,0
2022-11-01 00:00:00-04:00,154.823169,155.192551,148.883026,150.400497,80379300,0.00,0
2022-11-02 00:00:00-04:00,148.703316,151.917985,144.759861,144.789810,93604600,0.00,0
2022-11-03 00:00:00-04:00,141.824736,142.563516,138.520220,138.650009,97918500,0.00,0
2022-11-04 00:00:00-04:00,142.089996,142.669998,134.380005,138.380005,140716700,0.23,0

In [4]:
import pandas as pd
pd.options.display.float_format = '{:.2f}'.format
history.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-10-31 00:00:00-04:00,152.91,153.98,151.67,153.09,97943200,0.00,0
2022-11-01 00:00:00-04:00,154.82,155.19,148.88,150.40,80379300,0.00,0
2022-11-02 00:00:00-04:00,148.70,151.92,144.76,144.79,93604600,0.00,0
2022-11-03 00:00:00-04:00,141.82,142.56,138.52,138.65,97918500,0.00,0
2022-11-04 00:00:00-04:00,142.09,142.67,134.38,138.38,140716700,0.23,0

In [5]:
history.index = history.index.date
history.tail()

             Open   High    Low  Close     Volume  Dividends  Stock Splits
2022-10-31 152.91 153.98 151.67 153.09   97943200       0.00             0
2022-11-01 154.82 155.19 148.88 150.40   80379300       0.00             0
2022-11-02 148.70 151.92 144.76 144.79   93604600       0.00             0
2022-11-03 141.82 142.56 138.52 138.65   97918500       0.00             0
2022-11-04 142.09 142.67 134.38 138.38  140716700       0.23             0

In [6]:
history.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23 entries, 2022-10-05 to 2022-11-04
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          23 non-null     float64
 1   High          23 non-null     float64
 2   Low           23 non-null     float64
 3   Close         23 non-null     float64
 4   Volume        23 non-null     int64
 5   Dividends     23 non-null     float64
 6   Stock Splits  23 non-null     int64
dtypes: float64(5), int64(2)
memory usage: 1.4+ KB

In [7]:
history.Close.tail()

2022-10-31   153.09
2022-11-01   150.40
2022-11-02   144.79
2022-11-03   138.65
2022-11-04   138.38
Name: Close, dtype: float64

In [8]:
history['Close'].tail()

2022-10-31   153.09
2022-11-01   150.40
2022-11-02   144.79
2022-11-03   138.65
2022-11-04   138.38
Name: Close, dtype: float64

In [9]:
history.rolling(5)

Rolling [window=5,center=False,axis=0,method=single]

In [10]:
history.rolling(5).max().tail()

             Open   High    Low  Close       Volume  Dividends  Stock Splits
2022-10-31 152.91 157.24 151.67 155.48 164762400.00       0.00          0.00
2022-11-01 154.82 157.24 151.67 155.48 164762400.00       0.00          0.00
2022-11-02 154.82 157.24 151.67 155.48 164762400.00       0.00          0.00
2022-11-03 154.82 157.24 151.67 155.48 164762400.00       0.00          0.00
2022-11-04 154.82 155.19 151.67 153.09 140716700.00       0.23          0.00

In [11]:
!pip install pyupbit --quiet

WARNING: Ignoring invalid distribution -lotly (c:\users\dhj98\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -lotly (c:\users\dhj98\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -lotly (c:\users\dhj98\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -lotly (c:\users\dhj98\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -lotly (c:\users\dhj98\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -lotly (c:\users\dhj98\anaconda3\lib\site-packages)

In [13]:
import pyupbit
pyupbit.get_ohlcv('KRW-ETH').tail()

,open,high,low,close,volume,value
2022-11-03 09:00:00,2157000.00,2207000.00,2156000.00,2176000.00,25689.21,56130564664.83
2022-11-04 09:00:00,2175000.00,2330000.00,2173000.00,2288000.00,58125.29,131111476196.02
2022-11-05 09:00:00,2286000.00,2319000.00,2267000.00,2276000.00,25680.01,58829616868.65
2022-11-06 09:00:00,2276000.00,2291000.00,2207000.00,2213000.00,19443.53,43871761578.05
2022-11-07 09:00:00,2210000.00,2247000.00,2207000.00,2231000.00,5488.63,12211575349.15

- https://pypi.org/ # 파이썬 라이브러리 참고